# Ambiente
APP_ENV=development

# Comunicação
FRONTEND_PORT=3000
BACKEND_WS_PORT=8080
# Lido pelo frontend (Vite só expõe variáveis com prefixo VITE_)
VITE_BACKEND_WS_PORT=8080

# Banco de dados e Cache
SQLITE_DB_PATH=./foto-facil.db
TEMP_IMAGE_DIR=./tmp_processed_images

# Caminho para os arquivos de IA (onde os .onnx vão ficar)
AI_MODELS_PATH=./backend/models
